@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Tajawal&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Tajawal', sans-serif;
}

@media (max-width: 767.98px) { 
  *{
    font-size: .9rem;
  }
  .header{
    display: block !important;
    text-align: center;
  }

  .container{
    width: 100vw;
  }

  .todo-actions{
    text-align: center;
  }

}

